html {
    font-size: 16px;
}

body {
    background-color: #fff;
    color: #2c3e50;
    font-family: Domine, serif;
    font-size: 1rem;
    min-width: 20.625rem;
}
h1,
h2,
h3,
h4 {
    font-family: 'Open Sans', sans-serif;
}

.limiter {
    margin: auto;
    max-width: 70rem;
    padding: 0 1rem;
}

.site-brand .limiter {
    padding-left: 0;
}
.site-header .site-identity {
    display: flex;
    flex-direction: row;
}
.site-header .site-identity .site-logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0 0 9999999rem 0;
    height: 5rem;
    margin-right: 1rem;
    width: 5rem;
}
.site-header .site-identity .site-info {
    flex: 1 1 auto;
}
.site-header .site-identity .site-info h1.site-title {
    font-size: 1.25rem;
    margin: 1rem 0 0 0;
}
.site-header .site-identity .site-info h1.site-title a {
    color: #2c3e50;
    text-decoration: none;
}
.site-header .site-identity .site-description {
    color: #34495e;
    font-size: .875rem;
    font-style: italic;
    margin: 0 0 1.25rem 0;
}
.site-header .site-identity .site-social {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0;
    justify-content: space-between;
    list-style-type: none;
    margin-left: -5rem;
    padding: 0;
    text-align: center;
}
.site-header .site-identity .site-social li {
    display: inline-block;
    font-size: 1rem;
}
.site-header .site-identity .site-social .social {
    background-color: #2c3e50;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    display: block;
    height: 2.5rem;
    overflow: hidden;
    text-indent: -9999rem;
    transition: background-color .3s ease-out;
    width: 2.5rem;
}
.site-header .site-identity .site-social .social:hover {
    background-color: #e74c3c;
    transition: background-color .03s ease-in;
}
.site-header .site-identity .site-social .social-github {
    background-image: url('../img/icon-github.svg');
}
.site-header .site-identity .site-social .social-wordpress-org {
    background-image: url('../img/icon-wordpress.org.svg');
}
.site-header .site-identity .site-social .social-strava {
    background-image: url('../img/icon-strava.svg');
}
.site-header .site-identity .site-social .social-linked-in {
    background-image: url('../img/icon-linked-in.svg');
}
.site-header .site-identity .site-social .social-facebook {
    background-image: url('../img/icon-facebook.svg');
}
.site-header .site-identity .site-social .social-twitter {
    background-image: url('../img/icon-twitter.svg');
}
.site-header .site-identity .site-social .social-instagram {
    background-image: url('../img/icon-instagram.svg');
}
@media only screen and (min-width: 48rem) {
    .site-brand {
        bottom: 0;
        left: 0;
        pointer-events: none;
        position: static;
        right: 0;
        top: 0;
    }
    .admin-bar .site-brand {
        top: 32px;
    }
    .site-brand .limiter {
        position: relative;
    }
    .site-header {
        pointer-events: auto;
        position: absolute;
        right: 2rem;
        top: 0;
        width: 18rem;
    }
    .site-header .site-identity {
        flex-direction: column;
        padding-top: 2rem;
    }
    .site-header .site-identity .site-logo {
        border-radius: 9999999rem;
        height: 10rem;
        margin: 0 auto;
        width: 10rem;
    }
    .site-header .site-identity .site-info h1.site-title {
        font-size: 1.5rem;
        text-align: center;
    }
    .site-header .site-identity .site-description {
        font-size: 1rem;
        text-align: center;
    }
    .site-header .site-identity .site-social {
        justify-content: space-between;
        margin: 0;
    }
}
@media only screen and (min-width: 48rem) and (min-height: 34rem) {
    .site-brand {
        position: fixed;
    }
}

.site-navigation {
    margin-bottom: 2rem;
}
.site-navigation .nav-bar {
    background-color: #c0392b;
    margin: 2rem -1rem 0 -1rem;
    text-align: center;
}
.site-navigation .nav-bar ul {
    font-size: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.site-navigation .nav-bar ul li {
    display: inline-block;
    font-size: 1rem;
}
.site-navigation .nav-bar ul li a {
    color: #fff;
    display: block;
    font-family: 'Open Sans', sans-serif;
    padding: .75rem 1rem;
    text-decoration: none;
}
.site-navigation .nav-bar ul li:hover a,
.site-navigation .nav-bar ul li.current-menu-item a {
    background-color: #e74c3c;
    color: #fff;
}
@media only screen and (min-width: 48rem) {
    .site-navigation .nav-bar {
        background-color: transparent;
        border-bottom: solid .125rem #c0392b;
        margin: 2rem 22.75rem 0 0;
        text-align: left;
    }
    .site-navigation .nav-bar ul li a {
        color: inherit;
    }
    .site-navigation .nav-bar ul li.current-menu-item a {
        background-color: #c0392b;
    }
}

.site-body {
    padding-bottom: 3rem;
}
.site-body .site-content {
    line-height: 1.618033989;
}
@media only screen and (min-width: 48rem) {
    .site-body .site-content {
        font-size: 1.25rem;
        margin-right: 22.75rem;
    }
}

.article {}
.article a {
    text-decoration: none;
}
.article .article-header {}
.article .article-thumbnail a {
    background-color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid .125rem #2c3e50;
    display: block;
    font-size: 0;
    overflow: hidden;
}
.article .article-thumbnail a:after {
    content: "";
    display: block;
    padding-top: 56.25%;
}
.article .article-title {
    margin-bottom: 0;
}
.article .article-title a {
    color: #2c3e50;
}
.article .article-title a:hover {
    color: #e74c3c;
}
.article .article-meta {
    color: #34495e;
    font-size: .875rem;
    margin-top: 0;
}
.article .article-meta a {
    color: inherit;
}
.article .article-meta a:hover {
    color: #e74c3c;
}
.article .article-body {}
.article .article-body a {
    color: #c0392b;
    font-weight: bold;
    transition: color .3s ease-out;
}
.article .article-body a:hover {
    color: #e74c3c;
    transition: color .03s ease-in;
}
.article .article-body img {
    box-sizing: border-box;
    border: solid .125rem #2c3e50;
    height: auto;
    max-width: 100%;
}
.article .article-footer.article-meta {
    font-size: 1rem;
}
.article .article-footer.article-meta ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.article .article-footer.article-meta ul li {
    display: inline-block;
}
.article .article-footer.article-comments a {
    color: inherit;
}

.site-footer {}
.site-footer .copyright {
    border-top: solid .125rem #c0392b;
    color: #34495e;
    font-size: .75rem;
    padding: 1rem 0 3rem 0;
    text-align: center;
}
.site-footer .copyright a {
    color: #c0392b;
    font-weight: bold;
    text-decoration: none;
    transition: color .3s ease-out;
}
.site-footer .copyright a:hover {
    color: #e74c3c;
    transition: color .03s ease-in;
}
@media only screen and (min-width: 48rem) {
    .site-footer .copyright {
        margin: 0 22.75rem 0 0;
        text-align: left;
    }
}
@media only screen and (min-width: 48rem) and (min-height: 38rem) {
    .site-footer {
        bottom: 0;
        left: 0;
        pointer-events: none;
        position: fixed;
        right: 0;
    }
    .site-footer .limiter {
        position: relative;
    }
    .site-footer .copyright {
        border-top: 0;
        bottom: 0;
        margin: 0;
        padding: 0 0 1rem 0;
        pointer-events: auto;
        position: absolute;
        right: 2rem;
        text-align: center;
        width: 18rem;
    }
}